#navbar{
    background-color:#a8763e;
}
.navbar-brand{
    margin-left: 40px;
    font-weight: bold;
    font-size: 25px;
}

.nav-item .nav-link{
    color:#281e16;
    margin-left: 10px;
    font-weight: bold;
    transition: 0.5s;   
}
.nav-item .nav-link:hover{
    background-color:#281e16;
    border-radius: 5px;
    color: #fdfefd;
}
