.row img{
    width: 80%;
    height: auto;
    max-height: 30em;
    padding-top: 0.5em;
}

.btn-success{
    color: black ;
    background-color: #A2C663;
    font-weight: bold;
}

.btn-danger{
 color: black;
 font-weight: bold;
}

.btn-success:hover{
    background-color:#8AB95C;
    color: black;
  }

span {
    font-weight: bold;
    background-color: #D1D1D1;
    color: black;
    width: 8em;
}