.row img{
    width: 80%;
    height: auto;
    max-height: 30em;
    padding-top: 0.5em;
}


.btn{
    color: black;
    font-weight: bold;
    background-color: #A2C663;
  }
 
  
  .btn:hover{
    background-color:#8AB95C;
    color: black;
  }

  .dropdown-item{
    cursor: pointer;
  }