#recipe-list img{
    margin-top: 1em;
 }

 #recipe-list:hover{
    background-color:black;
    color: #fdfefd;
    cursor: pointer;
 }

 #recipe-list{
    margin-top: 1em;
    border-radius: 10px;
    border: black solid 2px;
    color: black;
 }
 #recipe-list h5 {
    padding-top: 1em;
 }

<<<<<<< HEAD
 .active{
=======
.active{
>>>>>>> developing
   background-color: black;
   color: #fdfefd;
   cursor: pointer;
 }

<<<<<<< HEAD
.active h5{
   color: #fdfefd;
 }

 .active p{
=======
 .active h5{
   color :#fdfefd
 }

 .active p {
>>>>>>> developing
   color: #fdfefd;
 }