#recipe-list img{
    margin-top: 1em;
 }

 #recipe-list:hover{
    background-color:#D1D1D1;
    color: black;
    cursor: pointer;
 }

 #recipe-list{
    margin-top: 1em;
    border-radius: 10px;
    border: black solid 2px;
    color: black;
 }
 #recipe-list h5 {
    padding-top: 1em;
 }


.active{
   background-color: #D1D1D1;
   color: black;
   cursor: pointer;
 }

 .active h5{
   color :black
 }

 .active p {

   color: black;
 }