label{
    font-weight: bold;
}
.btn{
   margin-top: 5px;
   color: black;
   font-weight: bold;
   border: none;
}
.btn:hover{
    background-color: black;
    color: white;
}

.btn-danger{
    margin-left: 5px;
}

.btn-primary{
    margin-left: 5px;
}
